.custom-arrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 9px;
    gap: 7px;

    position: absolute;
    width: 32px;
    height: 32px;

    background: #FFFFFF;
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.08);
    border-radius: 74px;

    cursor: pointer;
    z-index: 1;
}

.custom-arrow.left {
    left: -40px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.custom-arrow.right {
    right: -40px;
}

.custom-arrow:hover {
    background: #f0f0f0;
    box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.12);
}
